<!DOCTYPE html>
<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <title>AuthenticationNewLoginMailTemplate</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    </head>
    <body>
        <p>Hello {{ username }}, you asked for a new password here is the <a href="http://localhost:8080/authentication/forgot-password?token={{ token }}">link</a></p>.
    </body>
</html>